/* 1 - Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela.*/
ol {
    background-color: yellow;
    text-transform: uppercase;
}
/* Se a numeração do item for PAR, faça a cor de fonte ser verde. */
ol li:nth-child(even) {
    color:green;
}
/* Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. */

/* O código abaixo através da pseudoclasse nth-child seleciona os números não primos da lista. No passo número 1 defini toda lista com uppercase, entao esse código tira o uppercase de todos os não primos deixando uppercase apenas os primos como solicitado. Encontrei essa solução aqui: https://github.com/xieranmaya/blog/issues/12#issue-243245033 */
ol li:nth-child(1),
ol li:nth-child(2n+4) {
    text-transform:none;
}
/* 2 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e,  */
h1, h2, h3, h4, h5, h6 {
    color: red;
}
/* se alguma delas estiver em itálico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e sólida. */
h1 em {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}
/* 3 - Faça todas as li's terem 20px de tamanho de fonte e, */
li {
    font-size: 20px;
}
/*para todo texto em itálico dentro de alguma li, utilize a propriedade font-weight para deixá-lo negrito. */
li em {
    font-weight:900;
}
/* 4 - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e,  */
ul.firstsecondthird li:nth-child(-n+3) {
    color: blue;
}
/* se alguma possuir "java*" no texto, utilize uma cor de fundo rosa. */

/* Pesquisei por alguma pseudoclasse que buscasse por palavra/string mas nao encontrei, entao fiz "manualmente" mesmo */
.java {
    background-color: pink;
}
/* 5 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde). */

  /* Se o exercício nao pedisse uma cor diferente para cada um acredito que daria para escrever menos código para resolver esse problema */
.devallies li:nth-child(1) a:hover {
    font-weight: bold;
    color: orange;
}
.devallies li:nth-child(2) a:hover {
    font-weight: bold;
    color: green;
}
.devallies li:nth-child(3) a:hover {
    font-weight: bold;
    color: black;
}
.devallies li:nth-child(4) a:hover {
    font-weight: bold;
    color: yellow;
}
.devallies li:nth-child(5) a:hover {
    font-weight: bold;
    color: green;
}